[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.28.0"
matplotlib = "==3.8.2"
scikit-learn = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
